.container {
    max-width: 400px;
}

.calendar-title{
  position: absolute;
  left:50%;
  top:50%;
  margin:0px !important;
  transform: translateX(-50%) translateY(-50%);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > .width-14 {
    cursor: pointer;
    flex: 0 0 14.27%;
    max-width: 14.27%;
    text-align: center;
    height: 50px;
    position: relative;
}

.row > .width-6 {
    cursor: pointer;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    height: 50px;
    position: relative;

}


.row > .width-3 {
    cursor: pointer;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    height: 50px;
    position: relative;

}

.calendar-day > button {
    width: 100%;
    border: none;
    box-shadow: none;
    display: block;
    margin: auto;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f9f9f9;

}

.calendar-day > button:focus {
    outline: none;
}
.calendar-day > button.selected {
    background-color: dodgerblue !important;
    color:white !important;
    opacity: 1 !important;
}

.calendar-day > button.pastDay {
      opacity: .4;
      color:black ;
}
.calendar-day > button.today {
      background-color: lightgray;
      color:black ;
}


.monthChangeButton{
  padding: 5px 10px 5px 10px;
  border:none;
  background-color: transparent;
  outline: none;
  position: absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}

.monthChangeButton > .monthChangeIcon{
  font-size: 1.8em;
  cursor: pointer;
}

.monthChangeButton:focus {
  outline: none;
}
